.active {
  color: tomato
}

.onhover:hover {
  /* box-shadow: rgb(146, 193, 16,0.5) 0px 7px 29px 0px; */
  box-shadow: rgb(145, 193, 16, 0.8) 0px 5px 15px;
}

.onhover1:hover {
  /* box-shadow: rgb(146, 193, 16,0.5) 0px 7px 29px 0px; */
  box-shadow: cyan 0px 5px 15px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1em;
}

@media (max-width:600px) {
  .hide {
    display: none !important;
  }

  .mob-view {
    position: absolute !important;
  }
}


/*! https://scrollbar.app/ */

body {
  --sb-track-color: #232e3300;
  --sb-thumb-color: #6BAF8D;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

::-webkit-scrollbar {
  width: var(--sb-size)
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;

}